---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"

const identity = {
  name: "Cliff Lee",
  country: "China",
  bio: "Building & Exploring & Sharing  interesting things",
}

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Next.js",
  "TailWind CSS",
  "React",
  "Astro",
  "Vue",
]

const happy = true
const finished = true
const goal = 3

const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Info</h2>
    <ul>
      <li>{identity.name}</li>
      <li>{identity.country}</li>
      <li>{identity.bio}</li>
    </ul>

    <h2>My Skills:</h2>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
</BaseLayout>